<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
<head>
    <title th:text="#{email.activation.title}">JHipster activation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body>
<h2 th:text="#{email.activation.greeting(${student.getNameStudent()})}">
    Dear
</h2>
<pre>
<p th:text="${student.loadFile}">
    Bảng Điểm
</p>
</pre>
</body>
</html>
